<div class="tags">
    <div class="tags-list">
        <% site.tags.map(function (tag) { %>
            <a class="tags-list-item" href="#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
        <% })%>
    </div>
    <div class="tags-archives">
        <% site.tags.map(function (tag) { %>
            <span class="tag-text"><%= tag.name %></span>
            <% tag.posts.map(function (post) { %>
                <div class="tags-post">
                    <span class="tags-post-time"><%- date(post.date, 'YYYY-MM-DD')%></span>
                    <span class="tags-post-title">
                        <a class="tags-post-link" href="<%= url_for(post.path) %>"><%- post.title %></a>
                    </span>
                </div>
            <% })%>
        <% }) %>
    </div>
</div>
